<md-content layout="column" class="tab-container" flex>
    <md-content layout="row" layout-padding>
        <md-input-container flex>
            <label>URL: </label>
            <input name="path" ng-model="guess.path" required="true" ng-init="guess.path='https://raw.githubusercontent.com/an4/Data-Storage/master/256kB.html'">
        </md-input-container>
        <md-container>
            <md-button class="md-raised md-warn" ng-disabled="showGuess()" ng-click="guess()"> Run </md-button>
            <md-button class="md-raised md-warn" ng-click="computeAndDisplayRanges()"> Show Ranges </md-button>
            <md-button class="md-raised md-warn" ng-click="guessSizeChunk()"> Guess Size </md-button>
        </md-container>
    </md-content>
    <md-content>
        <md-progress-linear md-mode="determinate" class="md-warn" value="{{graph.progress}}"></md-progress-linear>
    </md-content>
    <md-content layout-padding class="answer-container">
        <!-- <md-list>
            <md-list-item ng-repeat="range in guess.ranges">
                <div class="md-list-item-text" layout="row">
                    <p ng-bind="range.size"></p>
                    <p ng-bind="range.time"></p>
                </div>
            </md-list-item>
        </md-list> -->
        {{guess.answer}}
    </md-content>
</md-content>
